<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body >

		<h2>Please Login</h2>
		<form action="/login" method="post" data-th-object="${user}">
			<table>
				<tr>
					<td> 
						<label for="username">Username:</label> 
					</td>
					<td>
						<input type="text" name="username" id="username" size="30" placeholder="Please type in your username" data-th-field="*{username}" >
						<div data-th-if="${#fields.hasErrors('username')}">
							<span data-th-errors="*{username}" data-th-errorclass="error"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input type="password" name ="password"id="password" size="30" placeholder="Please type in your password" data-th-field="*{password}">
						<div data-th-if="${#fields.hasErrors('password')}">
							<span data-th-errors="*{password}" data-th-errorclass="error"></span>
						</div>
					</td>
				</tr>
				<tr th:if="*{wrongCount} &gt; 1">
					<td>
						<label for="captcha">Answer:</label>
					</td>
					<div class="captcha">
						<td>
							<span data-th-text="*{generateCaptcha()}"></span>: 
							<input type="text" name="captcha" id="captcha" size="30" placeholder="Answer" data-th-object="${captcha}" >
							
							
						</td>
					</div>
					
					
				</tr>
				<tr>
					<td>
						<button type="submit">Login</button>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
